@model List<VerseDto>

<div class="rtl container mx-auto mt-8 space-y-6 px-4">
    @foreach (var verse in Model)
    {
        <a href="/Chapter/GetById/@verse.ChapterId" class="block">
            <div class="group flex items-center justify-between rounded-lg bg-white p-6 shadow-lg transition-all duration-300 hover:shadow-2xl">

                <!-- Verse Text -->
                <div class="group-hover:text-green-600 text-2xl font-bold text-gray-800">
                    @verse.Text
                </div>

                <!-- Chapter Info -->
                <div class="space-y-1 text-right text-sm text-gray-500">
                    <p><span class="font-semibold">سورة:</span> @verse.Chapter.Name (@verse.Chapter.Transliteration)</p>
                    <p><span class="font-semibold">النوع:</span> @verse.Chapter.Type.Text</p>
                    <p><span class="font-semibold">رقم السورة:</span> @verse.ChapterId</p>
                    <p><span class="font-semibold">الآيات:</span> @verse.Chapter.TotalVerses</p>
                </div>
            </div>
        </a>
    }
</div>
